[submodule "utility_scripts"]
	path = utility_scripts
	url = https://github.com/RickyTheDude/BDD100K-segregate-by-timeofday.git
[submodule "data_cleaning_scripts"]
	path = data_cleaning_scripts
	url = https://github.com/Niketw/data-cleaning.git
